<!DOCTYPE html>
<html>
<head>
  <title>LivingSocial</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav_bar' %>
<div class="container-fluid">
  <div class="row-fluid">
    <% if @error_message %>
        <p class="error"><%= @error_message %></p>
    <% end %>
    <div>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
